/* You can add global styles to this file, and also import other style files */
.ted-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.ted-label-container {
    margin-bottom: 20px;
}

.ted-label {
    text-align: center;
}

.ted-label-input-control {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
}

.ted-paginator {
  margin-top: 10px;
  margin-bottom: 10px;
}

.related-talks-card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.related-talks-content {
  padding-left: 2px;
}

.related-talks-content > .title {
  color: #111111;
  font-size: 14px;
}

.related-talks-content > .views {
  color: #666666;
}

.related-talks-img {
  width: 230px;
  height: 130px;
}
