/* You can add global styles to this file, and also import other style files */
.ted-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.ted-label-container {
    margin-bottom: 20px;
}

.ted-label {
    text-align: center;
}

.ted-label-input-control {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
}